.registrationTitle{
    font-size: 30px;
    color: grey;
    font-family: 'Pathway Gotchic One', sans-serif;
    text-align: center;
}
.registrationForm {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
.registrationLabel {
    text-align: center;
}
.submitButton {
    text-align: center;
}