.registrationTitle{
    text-align: center;
}
.registrationForm {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
.registrationLabel {
    text-align: center;
}